# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Sound files
*.wav

# Project-specific output files and folders
/audio_outputs/
/src/automatic_eq_finder/ui/export_results/eq_settings.txt
/src/automatic_eq_finder/ui/export_results/frequency_response.png
